/* ---------------------------------------------------
    CSS CODE
----------------------------------------------------- */
body {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    font-family: Arial;
    color: #fff;
    background-color: #202124;
    background-repeat: no-repeat;
    background-size:100% 100vh;
  }

  * {
    box-sizing: border-box;
  }

.wrapper {
  margin-right: 0;
  padding-right: 0;
  }


/* ---------------------------------------------------
    SIDENAV
----------------------------------------------------- */
/*sidenav properties*/

.sidenav{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 15px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    background: #606368;
    opacity: 0.85;
    
}

/*sidenav links*/
.sidemenu{
    margin-top: 100px;
}


.sidemenu a {
    padding: 15px 10px 15px 60px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidemenu a:hover:not(.active) {
    background-color: #3C4042;
    opacity: 0.7;
  }

/* Active/current link */
.sidemenu a.active {
    background-color: #3C4042;
    opacity: 0.7;
  }

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.closebtn{
  cursor: pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

/* ---------------------------------------------------
    TOPNAV
----------------------------------------------------- */
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-72 { font-size: 72px; }

.comp-logo img{
    float: left;
    height:85px;
    width: auto;
    padding: 1px 1px 1px 2px;
    background-color: black;
}

.ham-menu{
    float: left;
    padding:5px ;
}

.ham{
  cursor: pointer;
}

.topnav {
    background: #3C4042;
    opacity: 0.7;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    height: 60px;
    display: block;
}

.topnav-right{
    float: right;
    padding-top: 19px;
    height: 60px;
}

.topnav-right a{
    color: #fff;
    padding: 19px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
  }

  .topnav-right a:hover:not(.active) {
    background-color: #000;
    opacity: 0.7;
    color: #fff;
  }
  
  .topnav-right a.active {
    background-color: #0092DB;
    color: #fff;
    font-weight: bolder;
    padding-bottom: 30px;
  }

/* ---------------------------------------------------
    BODY CONTENT
----------------------------------------------------- */
ul{
  list-style: none;
}

.pass{
  float: left;
  margin-right: 100px;
}

.seat-container{
  margin-top: 8%;
  padding-left:10%;
}

.ullist{
  margin-top: 5%;
}

.pass input{
  background: #3C4042;
  border: none;
width: 200px;
height: 50px;
color: white;
font-size: 18px;
font-weight: bold;
margin-bottom: 30px;
cursor: pointer;
}

.info input{
  background:none;
  border: none;
width: 250px;
height: 50px;
color: white;
font-size: 18px;
margin-bottom: 30px;
}

.info{
  padding-top: 11px;
}

h3{
  margin-left: 20%;
}

.submit-button{
  bottom: 20%;
  right: 30% ;
  position: absolute;
}

.material-icons.md-72 { font-size: 72px; }